<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultat du calcul de prix de livraison</title>

</head>
<body>
    <h2>Les frais de livraison s'élèvent à : <%= livraisonPrix %> €</h2>
    <div>
        <input type="submit" value="Payer"/>
    </div>
</body>